<div class="panel panel-default">
  <div class="panel-heading">Contacat Details</div>
  <table class="table">
  	<tr>
  		<td><%= f.text_field :name, placeholder: 'Name *', class: 'form-control' %></td>
  		<td><%= f.email_field :email, placeholder: 'Email', class: 'form-control' %></td>
  	</tr>
  </table>
</div>

